<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Market Notifier</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <!--Page Description-->
            <div class="col s12">
                <h3><a href="/">Steam Market Notifier</a></h3>
                <p>Welcome User, Stream Market Notifier allows you to keep track of prices of 
                    various Steam items from Community market and notifies you via Email when an item's 
                    price drops below your threshold amount.</p>
                <p>
                    The site is still under development and let me know if you want any new features.
                </p>
            </div>
            <!-- Login Card -->
            <div class="col s12 m6">
                <div class="card">
                  <div class="card-content">
                    <span class="card-title">Login</span>
                    <p>Already an existing User?</p>
                    <div class="row">
                        <form method="POST" action='/login'>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="email_id_login" type="email" class="validate" name="email">
                                <label for="email_id_login">Email ID</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                                <input id="password_login" type="password" class="validate" name="password">
                                <label for="password_login">Password</label>
                            </div>     
                            <div class="col s12 center">
                                <button class="btn waves-effect waves-light" type="submit">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
              
            <!-- Register Card -->
            <div class="col s12 m6">
                <div class="card">
                  <div class="card-content">
                    <span class="card-title">Register</span>
                    <p>Hoping in for the first time?</p>
                        <form method="POST" action="/register" >
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="name" type="text" class="validate" name="name">
                                    <label for="name">Name</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="email_id__register" type="email" class="validate" name="email">
                                    <label for="email_id__register">Email ID</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">lock</i>
                                    <input id="password_register" type="password" class="validate" name="password">
                                    <label for="password_register">Password</label>
                                </div>     
                                <div class="col s12 center">
                                    <button class="btn waves-effect waves-light" type="submit">Submit
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
<script>
    // Load the document and show toast if it exists
    window.onload = ()=>{
        var error = "{{ error }}";
        if(error != "None"){
            M.toast({html: error});
        }
    };
</script>
</body>
</html>